
//
// VARIABLES
//

// Colors
$green: #608B77;
$lightgreen: #A6BAA8;
$black: #202221;
$darkerGray: #252F2F;
$darkGray: #2A3C3C;
$white: #DDDFDE;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

//Timeline
$numDots: 8;
$parentWidthBase: 0.8;
$parentWidth: $parentWidthBase * 100vw;
$parentMaxWidth: 720px;
$dotWidth: 25px;
$active: $green;
$inactive: $darkGray;

// Mobile breakpoints
@mixin eighthundred {
  @media screen and (max-width: 800px) {
    @content;
  }
}
@mixin sixforty {
  @media screen and (max-width: 640px) {
    @content;
  }
}
@mixin sixhundred {
  @media screen and (max-width: 600px) {
    @content;
  }
}
