
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$lightblue: #639DD5;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

//Timeline
$numDots: 30;
$parentWidthBase: 0.8;
$parentWidth: $parentWidthBase * 100vw;
$parentMaxWidth: 720px;
$dotWidth: 30px;
$active: #2C3E50;
$inactive: #AEB6BF;

// Mobile breakpoints
@mixin eighthundred {
  @media screen and (max-width: 800px) {
    @content;
  }
}
@mixin sixforty {
  @media screen and (max-width: 640px) {
    @content;
  }
}
@mixin sixhundred {
  @media screen and (max-width: 600px) {
    @content;
  }
}
