
//
// VARIABLES
//

// Colors
$green: #61892F;
$lightgreen: #86C232;
$black: #000000;
$darkerGray: #222629;
$darkGray: #474B4F;
$gray: #6B6E70;
$lightGray: #EEEEEE;
$grayGreen: #5D6552;
$white: #FFFFFF;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

//Timeline
$numDots: 8;
$parentWidthBase: 0.8;
$parentWidth: $parentWidthBase * 100vw;
$parentMaxWidth: 720px;
$dotWidth: 25px;
$active: $green;
$inactive: $darkGray;

// Mobile breakpoints
@mixin eighthundred {
  @media screen and (max-width: 800px) {
    @content;
  }
}
@mixin sixforty {
  @media screen and (max-width: 640px) {
    @content;
  }
}
@mixin sixhundred {
  @media screen and (max-width: 600px) {
    @content;
  }
}
